[build]
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Chỉ giữ đoạn dưới nếu Thầy/Cô thực sự có code trong thư mục netlify/functions
[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"